[user]
	name = John Mogensen
	email = johnmog@github.com
[credential]
	useHttpPath = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
[remote]
	pushDefault = origin
