# general
alias o='open '
alias g='grep -r --color=auto'
alias grep='grep --color=auto'
alias ll='ls -al'
alias ld='ls -d */'
alias cls='clear'
alias mkcd='mkdircd'
alias rdr='rd -r'

# creds
alias pkey='more ~/.ssh/id_rsa.pub | pbcopy | echo "=> Public key copied to pasteboard."'

# git
alias gbn='git-copy-branch-name'
alias gcb='git-clear-branch'
alias gpull='git-pull'
alias gbranch='git-create-branch'

# cd
alias -g ..='..'
alias -g ...='../..'
alias -g ....='../../..'
alias -g .....='../../../..'

# containers
alias k='kubectl'
alias d='docker'
alias dc='docker-compose'
